*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: ;
}
body,html{
	height: 100%;
	width: 100%;
}
.wrap{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
header{
	height: 60px;
	background: red;
}
main {
	flex: 1;
	height: 100%;
}
footer {
	height: 50px;
	background: lightgreen;
	line-height: 50px;
}
footer ul {
	display: flex;
}
footer ul li {
	text-align: center;
	flex: 1;
}
